html {
  box-sizing: border-box;
  overflow-y: scroll;;
}

*, *:before, *:after {
  box-sizing: inherit;
}


::selection {
  background-color: red;
}


body {
  font-family: 'Lato', 'arial', sans-serif;
  line-height: 1.4;
}

a {
  color: red;
}

address {
  font-style: normal;
  font-size: 1rem;
}

img {
  display: block;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

h5 {
  margin: 1rem 0;
}

.site-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}
