.aside-container {
  font-size: 0.875rem;
  background-color: #e4e4e4;
  padding: 0 2rem;
  width: 100%;
  min-height: 1px;
  overflow: hidden;

  @media screen and (min-width: 686px) {
    padding-right: 0;
    background-color: white;
    min-width: 268px;
    width: 30%;
    margin-left: 1rem;

    h4 {
      margin-top: 0;
    }
  }

  @media screen and (min-width: 1250px) {
    box-shadow: 0 -10px white, 10px 0 white, -6px 0 20px -8px rgba(0,0,0,0.4);
    font-size: 1rem;
  }

  h4 {
    font-size: 1.5rem;
    margin: 2rem 0;
    width: 100%;
  }

  figure {
    display: flex;
    width: 100%;
    flex-direction: row;
    min-height: 1px;
    align-items: flex-start;
    height: auto;
    margin: 0;
    padding-bottom: 2rem;

    @media screen and (min-width: 610px) and (max-width: 685px) {
      max-width: 50%;
    }

    @media screen and (min-width: 986px) {
      max-width: 100%;
    }

    & + * {
      padding-top: 2rem;
      border-top: 1px dotted black;

        @media screen and (min-width: 610px) {
          border-top: none;
          padding-top: 0;
          padding-bottom: 2rem;
        }
    }

    img {
      max-width: 40%;
      width: auto;
      height: auto;
      flex: 0 0 auto;
  }

    a {
      padding: 0 0 0 1rem;
      flex: 2;
      font-weight: 500;      

      @media screen and (min-width: 610px) {
        padding: 0 1rem;
      }

      @media screen and (min-width: 686px) {
        padding: 0 0 0 1rem;
      }
    }
  }

}

aside.latestnews {
  display: flex;
  flex-direction: column;
  width: 100%;

    @media screen and (min-width: 610px) and (max-width: 685px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

}

aside.info {
  padding: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  text-align: left;
  max-width: 50.625em;
  background-color: #ededed;

  h4 {
    font-size: 1.5rem;
  }
}
