.contentblock {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.contentblock.latestnews {
  background-color: #eee;
  @media screen and (min-width: 1058px) {
    flex-direction: row;
  }
}

.content-inner {
  padding: 0 3%;

  @media screen and (min-width: $paddingbreakpoint) {
    padding: 0 5%;
  }

  ul {
    padding: 0 1em;
  }

  li {
    padding: 1em 0;
  }

  h3 {
    margin: 0;
    padding: 0.875em 0;
    border-bottom: 1px solid black;
  }
}
