.contentblock {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  flex-basis: auto;
}

.content-wrapper {
  display: flex;
  //flex-wrap: wrap;
  padding: 0 3%;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: $paddingbreakpoint) {
    padding: 0 5%;
  }

  @media screen and (min-width: 827px) {
    flex-direction: row;
  }



}

.content-inner {
  line-height: 1.4;
  max-width: 45em;
  width: 100%;
  flex-basis: auto;
  text-align: left;
  margin-bottom: 2rem;

  @media screen and (min-width: 1190px) {
    font-size: 1.125rem;
  }

  ul {
    padding: 0 1em;
  }

  li {
    padding: 0.5em 0;
  }

  h3 {
    margin: 0;
    padding: 0 0 0.875em 0;
    border-bottom: 1px solid black;
  }
}
