/* --- HEADER --- */

.header-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c7101d+0,aa111c+100 */
  background: #c7101d; /* Old browsers */
  background: -moz-linear-gradient(top,  #c7101d 0%, #aa111c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #c7101d 0%,#aa111c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #c7101d 0%,#aa111c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7101d', endColorstr='#aa111c',GradientType=0 ); /* IE6-9 */
  box-shadow: 0px 4px 3px -3px rgba(0,0,0,0.3);

  @media screen and (min-width: 700px) {
    box-shadow: none;
  }

}

header {
  display: flex;
  align-items: center;
  padding: 0 3%;
}

.logo {
  flex: 1;
  color: white;
  font-family: 'Montserrat', 'arial', sans-serif;
  //text-transform: uppercase;
  font-size: calc(0.875rem + 0.5vw);
  margin: 0;
  padding: 1em 0;
  text-align: left;
  letter-spacing: -0.03em;

  span.strapline {
    display: block;
    font-size: 0.8em;
    font-family: 'Raleway', 'arial', sans-serif;
    font-weight: 500;
  }
}

/* --- HEADER ENDS --- */

/* -- NAVIGATION -- */

.nav-container {
  width: 100%;
  background-color: $maincolour;
  padding-top: 0px;
  z-index: 99;
}

nav {
  max-height: 0;
  padding: 0 3%;
  overflow: hidden;
  font-size: 1.125rem;
  font-weight: 500;
  box-shadow: 0px 4px 3px -3px rgba(0,0,0,0.3);

  a {
    font-family: 'Lato', 'arial', sans-serif;
    color: white;
    text-decoration: none;
  }

  a.menu-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
  }

  .svg-rotate {
    transform: rotate(180deg);
    transition: transform 300ms ease-in;
  }

  ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 2em 0;
    padding: 0;

    li + * {
      margin-top: 2em;
    }
  }

}

.menu-parent.menu {
  display: block;
  visibility: visible;
}

.menu-parent-icon {
  margin-left: 0.5em;
  transform: rotate(0deg);
  transition: transform 300ms ease-in;

}

.menu-parent-icon path {
  fill: white;
}

.submenu {
  margin: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: height 250ms ease-out;
}

.menu-displayed {
  display: block;
  max-height: 36.722222222222222222222222222222em;
  transition: max-height 250ms ease-in;
}

.submenu.menu-displayed {
  visibility: visible;
  margin-top: 2em;
  height: 7.5em;
  transition: height 200ms ease-out;
}

.submenu.member.menu-displayed {
  height: 4.3333333333333333333333333333333em;
}

/* -- NAVIGATION ENDS -- */

@media screen and (min-width: 700px) {

  .nav-container {
  	width: 100%;
  	background-color: #b6101c;
  	position: fixed;
  }

  .menu-parent.menu {
    display: none;
    visibility: hidden;
  }

  nav {
  	font-family: 'Lato', 'arial', sans-serif;
  	font-size: 1.125rem;
  	font-weight: 500;
  	box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, 0.3);
    max-height: none;
  }

  nav a {
  	color: white;
  	padding: 0.75em 1.25em;
    display: block;
  }

  nav a:hover, .current {
    background-color: $maincolour;
  }

  nav a.menu-parent {
    width: auto;
  }

  nav ul {
  	display: flex;
  	width: 100%;
  	list-style-type: none;
  	font-size: 1rem;
  	margin: 0 auto;
    border-left: 1px solid #940d17;
  	align-items: center;
  	justify-content: flex-start;
  }

  nav ul li + * {
  	margin-top: 0;
  }

  .submenu {
  	margin: 0;
  	height: 0;
    background-color: #b6101c;
  	overflow: hidden;
  	visibility: hidden;
  	transition: height 250ms ease-out;
  	display: flex;
  	flex-direction: column;
  	justify-content: flex-start;
  	padding: 0;
  	position: absolute;
  }

  .menu-displayed {
  	display: flex;
  	transition: max-height 250ms ease-in;
  	justify-content: flex-start;
  	color: black;
  }

  .submenu.menu-displayed {
  	visibility: visible;
  	margin-top: 0;
  	display: flex;
  	flex-direction: column;
  	width: auto;
  	justify-content: center;
    min-width: 7.5em;
    border: none;
  }

  .submenu.about.menu-displayed {
    height: 7.875em;
    min-width: 7.758125em;
  }

  .submenu.member.menu-displayed {
    height: 5.25em;
    min-width: 9.153125em;
  }

  .submenu.about.menu-displayed li, .submenu.member.menu-displayed li {
    width: 100%;
  }

  }
