/* --- HEADER --- */

.header-container {
  width: 100%;
}

header {
  display: flex;
  max-width: 1400px;
  width: 100%;
  padding: 0 3%;
  color: white;
  background-color: red;
  align-content: center;
  flex-direction: column;

  a {
    color: white;
    text-decoration: none;
  }


h1 {
  flex: 1;
  font-family: 'Montserrat', 'arial', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  margin: 0;
  padding: 1em 0;
  text-align: center;

  span {
    display: none;
    font-weight: normal;
  }
}

nav {
  max-height: 0;
  transition: max-height 300ms ease-in-out;
  //background-color: white;
}

ul {
  width: 100%;
  font-family: 'Lato';
  list-style-type: none;
  text-align: center;
  margin: 2em 0;
  padding: 0;

li + * {
  margin-top: 2em;
}
}

.menu-displayed {
  max-height: 100vh;
  transition: max-height 300ms ease-in-out;
}


.menu-icon {
  margin-bottom: 1em;
  align-self: flex-end;
}

}

/* --- HEADER ENDS --- */
