.heroblock {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.heroblock-image {
	max-width: 1400px;
  background-image: url('/assets/img/home/bground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-img {
	max-width: 100%;
	width: 100%;
	height: 300px;
  display: none;
}

.heroblock-content {
	width: 100%;
	background-color: black;
	margin: 0 auto;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.banner-logo-container {
	background-color: white;
	text-align: center;
	display: none;
}

.logo.banner {
	font-size: 1.0625rem;
	padding: 0.32653061224489795918367346938776em 0.57142857142857142857142857142857em;
	color: black;
	letter-spacing: -0.05em;
}

.logo.banner span.strapline {
	font-size: 0.57142857142857142857142857142857em;
	letter-spacing: 0;
	padding-left: 0.0612244897959183673469387755102em;
}

.banner-tagline-container {
	opacity: 1 \9;
	animation: fadein 2s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 1em 0;
	max-width: 315px;
}

.tagline {
	color: white;
	margin: 0;
	font-family: 'Raleway', 'arial', sans-serif;
	font-size: 2.2rem;
	font-weight: normal;
}

.tagline.strapline {
	font-family: 'Lato', 'arial', sans-serif;
	font-size: 1rem;
	padding: 0.4em 0;
	max-width: 35.1875em;
}

.button {
	display: inline-block;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 1.125rem;
	padding: 0.66666666666666666666666666666667em 1.3333333333333333333333333333333em;
	width: 100%;
	font-family: 'Raleway', 'arial', sans-serif;
	border: 0.05555555555555555555555555555556em solid white;
	border-radius: 0.55555555555555555555555555555556em;
	margin-bottom: 1rem;
}

.button:hover {
	transform: scale(1.1, 1.1);
	box-shadow: 0 0 0.16667em 0.05556em rgba(0, 0, 0, 0.4);
}

.button.member {
	border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c7101d+0,7c0c13+100 */
	background: #c7101d; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #c7101d 0%, #7c0c13 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7101d', endColorstr='#7c0c13',GradientType=0 ); /* IE6-9 */ /* margin-bottom: 0; */
}

.banner-buttons-container {
  max-width: 250px;
}

@media screen and (min-width: 522px) {

  .heroblock-content {
    flex-direction: row;
  }

  .banner-tagline-container {
    flex: 2;
    text-align: left;
    padding: 1em 0;
  }

  .banner-buttons-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: center;
    max-width: none;
  }
}

@media screen and (min-width: 640px) {

.heroblock {
  background-color: lightgrey;
}

.heroblock-image {
  max-width: 1400px;
  height: auto;
  margin: 0 auto;
}

.hero-img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

.heroblock-content {
  flex-direction: column;
  justify-content: flex-start;
}

.banner-tagline-container {
  max-width: none;
}

.banner-logo-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  background-color: rgba(255,255,255,1);
  display: block;
}

.logo.banner {
  font-size: 3.0625rem;
  color: black;
  letter-spacing: -0.05em;
  max-width: 11.551020408163265306122448979592em;
  @media screen and (min-width: 908px) {
    max-width: none;
  }

  span.strapline {
    font-size: 0.57142857142857142857142857142857em;
    letter-spacing: 0;
    padding-left: 0.0612244897959183673469387755102em;
  }
}

@keyframes fadeIn {
  from { opacity:0;
  } to {
    opacity:1; }
  }

.tagline {
  margin: 0;
  font-size: 2.375rem;
  font-weight: normal;
  margin-left: 0.73684210526315789473684210526316em;
}

.tagline.strapline {
  font-family: 'Lato', 'arial', sans-serif;
  font-size: 1rem;
  padding: 0.4em 0;
  margin-left: 1.8666666666666666666666666666667em;
}

.banner-buttons-container {
  flex-direction: row;
  align-self: auto;
  max-width: none;
}

.button {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.125rem;
  margin-left: 1.5555555555555555555555555555556em;
  padding: 0.66666666666666666666666666666667em 1.3333333333333333333333333333333em;
  width: 11.555555555555555555555555555556em;
  font-family: 'Raleway', 'arial', sans-serif;
  border: 0.05555555555555555555555555555556em solid white;
  border-radius: 0.55555555555555555555555555555556em;
  margin-bottom: 1rem;
}

}
