.heroblock {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-direction: column;
	flex-direction: column;
}

.heroblock-image {
	display: -ms-flexbox;
	display: flex;
	max-width: 1400px;
}

.hero-img {
	max-width: 100%;
	width: 100%;
	height: 300px;
}

.heroblock-content {
	width: 100%;
	background-color: black;
	margin: 0 auto;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.banner-logo-container {
	background-color: white;
	text-align: center;
	display: none;
}

.logo.banner {
	font-size: 1.0625rem;
	padding: 0.32653061224489795918367346938776em 0.57142857142857142857142857142857em;
	color: black;
	letter-spacing: -0.05em;
}

.logo.banner span.strapline {
	font-size: 0.57142857142857142857142857142857em;
	letter-spacing: 0;
	padding-left: 0.0612244897959183673469387755102em;
}

.banner-tagline-container {
	opacity: 1 \9;
	animation: fadein 2s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 1em 0;
	max-width: 315px;
}

.tagline {
	color: white;
	margin: 0;
	font-family: 'Raleway', 'arial', sans-serif;
	font-size: 2.2rem;
	font-weight: normal;
}

.tagline.strapline {
	font-family: 'Lato', 'arial', sans-serif;
	font-size: 1rem;
	padding: 0.4em 0;
	max-width: 35.1875em;
}

.button {
	display: inline-block;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 1.125rem;
	padding: 0.66666666666666666666666666666667em 1.3333333333333333333333333333333em;
	width: 100%;
	font-family: 'Raleway', 'arial', sans-serif;
	border: 0.05555555555555555555555555555556em solid white;
	border-radius: 0.55555555555555555555555555555556em;
	margin-bottom: 1rem;
}

.button:hover {
	transform: scale(1.1, 1.1);
	box-shadow: 0 0 0.16667em 0.05556em rgba(0, 0, 0, 0.4);
}

.button.member {
	border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c7101d+0,7c0c13+100 */
	background: #c7101d; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #c7101d 0%, #7c0c13 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7101d', endColorstr='#7c0c13',GradientType=0 ); /* IE6-9 */ /* margin-bottom: 0; */
}

@media screen and (min-width: 522px) {

  .heroblock-content {
    flex-direction: row;
  }

  .banner-tagline-container {
    flex: 2;
    text-align: left;
    padding: 1em 0;
  }

  .banner-buttons-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: center;
  }
}

@media screen and (min-width: 40em) {

.heroblock {
  max-height: 700px;
  background-color: lighten(grey, 40);
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.heroblock-image {
  display: flex;
  position: relative;
  align-items: flex-end;
  max-width: 1400px;
  //box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.5)
}

.hero-img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.heroblock-image-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 5;
  //padding-left: 28px;
}

.heroblock-image-content > * {
  margin-bottom: 1.75rem;
}

.banner-logo-container {
  background-color: rgba(255,255,255,1);
}

.logo.banner {
  font-size: 3.0625rem;
  padding: 0.32653061224489795918367346938776em 0.57142857142857142857142857142857em;
  color: black;
  letter-spacing: -0.05em;

  span.strapline {
    font-size: 0.57142857142857142857142857142857em;
    letter-spacing: 0;
    padding-left: 0.0612244897959183673469387755102em;
  }
}

.banner-tagline-container {
  //opacity: 0;
  opacity: 1 \9;
  animation: fadein 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  margin-bottom: 1rem;
  text-align: left;
}

@keyframes fadeIn {
  from { opacity:0;
  } to {
    opacity:1; }
  }


.tagline {
  color: white;
  margin: 0;
  font-family: 'Raleway', 'arial', sans-serif;
  font-size: 2.375rem;
  font-weight: normal;
  margin-left: 0.73684210526315789473684210526316em;
}

.tagline.strapline {
  font-family: 'Lato', 'arial', sans-serif;
  font-size: 1rem;
  padding: 0.4em 0;
  margin-left: 1.8666666666666666666666666666667em;
  max-width: 35.1875em;
}

.button {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.125rem;
  margin-left: 1.5555555555555555555555555555556em;
  padding: 0.66666666666666666666666666666667em 1.3333333333333333333333333333333em;
  width: 11.555555555555555555555555555556em;
  font-family: 'Raleway', 'arial', sans-serif;
  border: 0.05555555555555555555555555555556em solid white;
  border-radius: 0.55555555555555555555555555555556em;
  margin-bottom: 1rem;

  &:hover {
    transform:scale(1.1,1.1);
    box-shadow: 0 0 0.16666666666666666666666666666667em 0.05555555555555555555555555555556em rgba(0,0,0,0.4);
  }

  &.member {
    border: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c7101d+0,7c0c13+100 */
    background: #c7101d; /* Old browsers */
    background: -moz-linear-gradient(top,  #c7101d 0%, #7c0c13 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #c7101d 0%,#7c0c13 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #c7101d 0%,#7c0c13 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7101d', endColorstr='#7c0c13',GradientType=0 ); /* IE6-9 */
  }
}

}
