.news-chunk {
  margin: 0 0 2em 0;

  p.date {
    font-size: 1em;
    color: grey;
  }

  h2 {
    margin-top: 0;
    text-align: left;
  }

  a {
    cursor: pointer;
    text-decoration: none;

    &:hover h2 {
      text-decoration: underline;
    }

    p {
      color: black;
    }
  }

  .author:hover {
    text-decoration: underline;
  }

}
