table {
  width: 100%;
  margin-bottom: 4rem;
  font-size: 0.875rem;
  border-collapse: collapse;
  text-align: left;
}

.hidden-cell {
  display: none;
}

th {
  font-weight: 500;
  font-size: 1.125rem;
  text-align: left;
  padding: 0 0 1em 0;
}

td {
  vertical-align: top;
  width: 33%;
  padding: 1em 1em 1em 0;
  border: none;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}
