* {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

.site-wrapper {
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
	padding: 0 3%;
}

/* --- HEADER --- */

.header-container {
	position: fixed;
	top: 0;
	width: 100%; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c7101d+0,aa111c+100 */
	background: #c7101d; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #c7101d 0%, #aa111c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7101d', endColorstr='#aa111c',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, 0.3);
}

header {
	display: -ms-flexbox;
	display: flex;
	color: white;
	-ms-flex-align: center;
	align-items: center;
}

header .logo {
	-ms-flex: 1;
	flex: 1;
	font-family: 'Montserrat', 'arial', sans-serif;
	text-transform: uppercase;
	font-size: calc(0.875rem + 0.5vw);
	margin: 0;
	padding: 1em 0;
	text-align: left;
}

header .logo span {
	display: block;
}

header .logo span.tagline {
	display: none;
	font-size: 0.8em;
	font-family: 'Raleway', 'arial', sans-serif;
	font-weight: 500;
}

/* --- HEADER ENDS --- */

/* -- NAVIGATION -- */

.nav-container {
	width: 100%;
	background-color: #c7101d;
}

nav {
	font-family: 'Raleway', 'arial', sans-serif;
	max-height: 0;
	overflow: hidden;
	font-size: 1.125rem;
	font-weight: 500;
	box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, 0.3);
}

nav a {
	font-family: 'Raleway', 'arial', sans-serif;
	color: white;
}

nav a.menu-parent {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-decoration: none;
}

nav a.menu-parent:after {
	display: block;
	content: ' ';
	background-image: url("/assets/img/icons/menu-parent-icon.svg");
	background-size: 0.75em 0.75em;
	height: 0.75em;
	width: 0.75em;
	margin-left: 0.375em;
}

nav ul {
	width: 100%;
	font-family: 'Lato';
	list-style-type: none;
	text-align: center;
	margin: 2em 0;
	padding: 0;
}

nav ul li + * {
	margin-top: 2em;
}

.submenu {
	margin: 0;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.menu-displayed {
	display: block;
	max-height: 36.722222222222222222222222222222em;
	transition: max-height 250ms ease-in;
}

.submenu.menu-displayed {
	visibility: visible;
	margin-top: 2em;
	height: 7.5em;
	transition: height 200ms ease-out;
}

.submenu.member.menu-displayed {
	height: 4.3333333333333333333333333333333em;
}

/* -- NAVIGATION ENDS -- */

.heroblock {
	height: 64.814814814814814814814814814815vmax;
	max-height: 700px;
	background-color: grey;
}

@media screen and (min-width: 360px) {

header .logo span {
	display: inline;
}

header .logo span.tagline {
	display: block;
}

}

