html {
	box-sizing: border-box;
	overflow-y: scroll;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

::-moz-selection {
	background-color: red;
}

::selection {
	background-color: red;
}

body {
	font-family: 'Open Sans', 'arial', sans-serif;
	line-height: 1.2;
}

a {
	color: red;
}

address {
	font-style: normal;
	font-size: 1rem;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}

strong,
b {
	font-weight: 600;
}

h3 {
	font-size: 1.5rem;
	font-weight: normal;
}

h4 {
	font-size: 1.25rem;
	font-weight: normal;
	margin: 1rem 0;
}

h5 {
	font-size: 1.125rem;
	font-weight: normal;
	margin: 1rem 0;
}

.site-wrapper {
	max-width: 1400px;
	margin: 0 auto;
	width: 100%;
	min-height: 1px;
	height: auto;
}

/* --- HEADER --- */

.header-container {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c7101d+0,aa111c+100 */
	background: #c7101d; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #c7101d 0%, #aa111c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7101d', endColorstr='#aa111c',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, 0.3);
}

header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 3%;
}

.logo {
	-ms-flex: 1;
	flex: 1;
	color: white;
	font-family: 'Montserrat', 'arial', sans-serif;
	font-size: calc(0.875rem + 0.5vw);
	margin: 0;
	padding: 1em 0;
	text-align: left;
	letter-spacing: -0.03em;
}

.logo span.strapline {
	display: block;
	font-size: 0.8em;
	font-family: 'Raleway', 'arial', sans-serif;
	font-weight: 500;
}

/* --- HEADER ENDS --- */

/* -- NAVIGATION -- */

.nav-container {
	width: 100%;
	background-color: #c7101d;
	padding-top: 0px;
	z-index: 99;
}

nav {
	max-height: 0;
	padding: 0 3%;
	overflow: hidden;
	font-size: 1.125rem;
	font-weight: 500;
	box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, 0.3);
}

nav a {
	font-family: 'Lato', 'arial', sans-serif;
	color: white;
	text-decoration: none;
}

nav a.menu-parent {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-decoration: none;
	cursor: pointer;
}

nav ul {
	width: 100%;
	list-style-type: none;
	text-align: center;
	margin: 2em 0;
	padding: 0;
}

nav ul li + * {
	margin-top: 2em;
}

.menu-parent.menu {
	display: block;
	visibility: visible;
}

.menu-parent-icon {
	margin-left: 0.5em;
}

.menu-parent-icon path {
	fill: white;
}

.submenu {
	margin: 0;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	transition: height 250ms ease-out;
}

.menu-displayed {
	display: block;
	max-height: 36.722222222222222222222222222222em;
	transition: max-height 250ms ease-in;
}

.submenu.menu-displayed {
	visibility: visible;
	margin-top: 2em;
	height: 7.5em;
	transition: height 200ms ease-out;
}

.submenu.member.menu-displayed {
	height: 4.3333333333333333333333333333333em;
}

/* -- NAVIGATION ENDS -- */

.aside-container {
	font-size: 0.875rem;
	background-color: #e4e4e4;
	padding: 0 2rem;
	width: 100%;
	min-height: 1px;
	overflow: hidden;
}

.aside-container h4 {
	font-size: 1.5rem;
	margin: 2rem 0;
	width: 100%;
}

.aside-container figure {
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-direction: row;
	flex-direction: row;
	min-height: 1px;
	-ms-flex-align: start;
	align-items: flex-start;
	height: auto;
	margin: 0;
	padding-bottom: 2rem;
}

.aside-container figure + * {
	padding-top: 2rem;
	border-top: 1px dotted black;
}

.aside-container figure img {
	max-width: 40%;
	width: auto;
	height: auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.aside-container figure a {
	padding: 0 0 0 1rem;
	-ms-flex: 2;
	flex: 2;
	font-weight: bold;
	text-decoration: none;
}

aside.latestnews {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
}

aside.info {
	padding: 2rem;
	margin-bottom: 2rem;
	width: 100%;
	text-align: left;
	max-width: 50.625em;
	background-color: #ededed;
}

aside.info h4 {
	font-size: 1.5rem;
}

.contentblock {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.flex-wrapper {
	display: -ms-flexbox;
	display: flex;
	padding: 0 3%;
	-ms-flex-direction: column;
	flex-direction: column;
}

.content {
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-direction: column;
	flex-direction: column;
	line-height: 1.4;
	text-align: justify;
	margin-bottom: 2rem;
}

.content ul {
	padding: 0 1em;
}

.content li {
	padding: 0.5em 0;
}

.content h3 {
	margin: 0;
	padding: 0 0 0.875em 0;
	border-bottom: 1px solid black;
}

.contentblock.hero {
	background-color: lightgrey;
}

.hero-image {
	max-width: 1400px;
	background-image: url("/assets/img/home/image2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -152px;
	height: 300px;
	width: 100%;
}

.hero-image.small {
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-flex-pack: start;
	justify-content: flex-start;
	background-position: top;
	background-image: url("/assets/img/home/image11.jpg");
}

.hero-image.small h2 {
	font-size: 2.625rem;
	width: 100%;
	font-weight: 600;
	color: white;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.75);
	padding: 0.58620689655172413793103448275862em 3%;
}

.hero-content {
	width: 100%;
	background-color: black;
	margin: 0 auto;
	-ms-flex-direction: row;
	flex-direction: row;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0 3%;
}

.banner-logo-container {
	background-color: white;
	text-align: center;
	display: none;
}

.logo.banner {
	font-size: 1.0625rem;
	padding: 0.32653061224489795918367346938776em 0.57142857142857142857142857142857em;
	color: black;
	letter-spacing: -0.05em;
}

.logo.banner span.strapline {
	font-size: 0.57142857142857142857142857142857em;
	letter-spacing: 0;
	padding-left: 0.0612244897959183673469387755102em;
}

.banner-tagline-container {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 1em 0;
	max-width: 315px;
}

.tagline {
	color: white;
	margin: 0;
	font-family: 'Lato', 'arial', sans-serif;
	font-size: 2.2rem;
	font-weight: normal;
}

.tagline.strapline {
	font-size: 1rem;
	padding: 0.4em 0;
	max-width: 35.1875em;
}

.button {
	display: inline-block;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 1.125rem;
	padding: 0.66666666666666666666666666666667em 1.3333333333333333333333333333333em;
	width: 100%;
	font-family: 'Raleway', 'arial', sans-serif;
	border: 0.05555555555555555555555555555556em solid white;
	border-radius: 0.55555555555555555555555555555556em;
	margin-bottom: 1rem;
}

.button:hover {
	transform: scale(1.1, 1.1);
	box-shadow: 0 0 0.16667em 0.05556em rgba(0, 0, 0, 0.4);
}

.button.member {
	border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c7101d+0,7c0c13+100 */
	background: #c7101d; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #c7101d 0%, #7c0c13 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7101d', endColorstr='#7c0c13',GradientType=0 ); /* IE6-9 */ /* margin-bottom: 0; */
}

.banner-buttons-container {
	max-width: 250px;
	margin-bottom: 1rem;
}

.item {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	width: 100%;
}

.item a {
	text-decoration: none;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 1px;
}

.item img {
	max-width: 100%;
	height: auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.item h4 {
	font-weight: 500;
	color: red;
	margin-bottom: 0.5em;
}

.item p {
	color: grey;
	font-size: 0.6em;
	margin: 0 0 0.5em 0;
	text-transform: uppercase;
	padding: 0;
}

.item.footer {
	color: #989898;
	margin-bottom: 1.875rem;
}

.item.footer h5 {
	color: white;
}

.item.footer a {
	font-size: 1rem;
	color: white;
}

.item.footer:hover {
	transform: none;
}

.item.footer p {
	-ms-flex-order: inherit;
	order: inherit;
	color: inherit;
	text-transform: none;
	border-top: none;
	font-size: 0.66666666666666666666666666666667em;
	margin: 0;
}

.iconised {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	min-height: 3.375rem;
	border-bottom: 1px solid #313131;
}

.iconised h5,
.iconised p,
.iconised a {
	margin: 0;
	-ms-flex-order: 1;
	order: 1;
}

.iconised svg {
	-ms-flex-order: 2;
	order: 2;
}

.contentblock.latestnews {
	background-color: #f8f8f8;
	padding-bottom: 2rem;
}

.latestnews-inner,
.fixtures-inner {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 3%;
}

.news-chunk {
	margin: 2em 0;
}

.news-chunk p.date {
	font-size: 1rem;
	text-transform: uppercase;
	color: grey;
}

.news-chunk h2 {
	margin-top: 0;
	color: red;
	text-align: left;
}

.news-chunk a {
	text-decoration: none;
	cursor: pointer;
}

.titlestrip {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 3%;
}

.titlestrip p {
	transform: translateY(3px);
}

.titlestrip.footer {
	color: white;
}

.titlestrip.breadcrumb {
	margin-bottom: 0;
	padding: 2rem 3%;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.titlestrip.breadcrumb p {
	transform: none;
	margin: 0;
	color: #484848;
}

.titlestrip.breadcrumb p:before {
	content: '>';
	margin: 0 0.5em;
}

.titlestrip.breadcrumb a {
	color: red;
}

table {
	width: 100%;
	margin-bottom: 4rem;
	font-size: 0.875rem;
	border-collapse: collapse;
	text-align: left;
}

.hidden-cell {
	display: none;
}

th {
	font-size: 1.125rem;
	text-align: left;
	padding: 1em 0;
}

td {
	vertical-align: top;
	width: 33%;
	padding: 1em 1em 1em 0;
	border: none;
}

tr:nth-child(even) {
	background-color: #f0f0f0;
}

.contentblock.footer {
	background-color: #1d1d1d;
}

.contentblock.footer a {
	color: white;
}

footer {
	padding: 0 3%;
}

@media screen and (min-width: 448px) {

.hero-image {
	background-position: center;
}

}

@media screen and (min-width: 522px) {

.hero-content {
	-ms-flex-direction: row;
	flex-direction: row;
}

.banner-tagline-container {
	text-align: left;
	padding: 1em 0;
}

.button.member {
	margin-bottom: 0;
}

.banner-buttons-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-item-align: center;
	align-self: center;
	max-width: none;
	margin-bottom: 0;
}

.item {
	max-width: 49%;
}

.item:nth-child(2n) {
	margin-left: 1.8064345197593829219680501947939%;
}

.item h4 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.item.footer {
	width: 100%;
}

.item.footer:nth-child(3) svg {
	display: none;
}

.titlestrip {
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.titlestrip h3:after {
	content: '|';
	margin: 0 0.2em;
	font-size: 1em;
	font-weight: normal;
}

footer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

}

@media screen and (min-width: 610px) and (max-width: 826px) {

.aside-container figure {
	max-width: 50%;
}

aside.latestnews {
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

}

@media screen and (min-width: 610px) {

.aside-container figure + * {
	border-top: none;
	padding-top: 0;
	padding-bottom: 2rem;
}

.aside-container figure a {
	padding: 0 1rem;
}

}

@media screen and (min-width: 640px) {

.hero-image {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

.hero-content {
	padding: 0;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: start;
	justify-content: flex-start;
	top: 50%;
	background-color: transparent;
}

.banner-tagline-container {
	max-width: none;
	padding-left: 3%;
	background-color: black;
}

.banner-logo-container {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 0 3%;
	background-color: rgba(255, 255, 255, 0.9);
	display: block;
}

.logo.banner {
	font-size: 2rem;
	color: black;
	letter-spacing: -0.05em;
	max-width: 11.551020408163265306122448979592em;
	max-width: none;
	padding-left: 0;
}

.logo.banner span.strapline {
	font-size: 0.57142857142857142857142857142857em;
	letter-spacing: 0;
	padding-left: 0.0612244897959183673469387755102em;
}

.tagline {
	margin: 0;
	font-size: 1.375rem;
	font-weight: normal;
}

.tagline.strapline {
	font-family: 'Lato', 'arial', sans-serif;
	font-size: 1rem;
	padding: 0.4em 0;
	max-width: 28em;
}

.banner-buttons-container {
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-item-align: auto;
	-ms-grid-row-align: auto;
	align-self: auto;
	max-width: none;
	padding: 0 3%;
	background-color: black;
}

.button {
	display: inline-block;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 1.125rem;
	margin-right: 1.5555555555555555555555555555556em;
	padding: 0.66666666666666666666666666666667em 1.3333333333333333333333333333333em;
	width: 11.555555555555555555555555555556em;
	font-family: 'Raleway', 'arial', sans-serif;
	border: 0.05555555555555555555555555555556em solid white;
	border-radius: 0.55555555555555555555555555555556em;
	margin-bottom: 1.2rem;
}

.button.member {
	margin-bottom: 1.2rem;
}

}

@media screen and (min-width: 700px) {

h3 {
	font-size: 1.875rem;
}

.header-container {
	box-shadow: none;
}

.nav-container {
	width: 100%;
	background-color: #b6101c;
	position: fixed;
}

.menu-parent.menu {
	display: none;
	visibility: hidden;
}

nav {
	font-family: 'Lato', 'arial', sans-serif;
	font-size: 1.125rem;
	font-weight: 500;
	box-shadow: 0px 4px 3px -3px rgba(0, 0, 0, 0.3);
	max-height: none;
}

nav a {
	color: white;
	padding: 0.75em 1.25em;
	display: block;
}

nav a:hover,
.current {
	background-color: #c7101d;
}

nav a.menu-parent {
	width: auto;
}

nav ul {
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	list-style-type: none;
	font-size: 1rem;
	margin: 0 auto;
	border-left: 1px solid #940d17;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

nav ul li + * {
	margin-top: 0;
}

.submenu {
	margin: 0;
	height: 0;
	background-color: #b6101c;
	overflow: hidden;
	visibility: hidden;
	transition: height 250ms ease-out;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: start;
	justify-content: flex-start;
	padding: 0;
	position: absolute;
}

.menu-displayed {
	display: -ms-flexbox;
	display: flex;
	transition: max-height 250ms ease-in;
	-ms-flex-pack: start;
	justify-content: flex-start;
	color: black;
}

.submenu.menu-displayed {
	visibility: visible;
	margin-top: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	width: auto;
	-ms-flex-pack: center;
	justify-content: center;
	min-width: 7.5em;
	border: none;
}

.submenu.about.menu-displayed {
	height: 7.875em;
	min-width: 7.758125em;
}

.submenu.member.menu-displayed {
	height: 5.25em;
	min-width: 9.153125em;
}

.submenu.about.menu-displayed li,
.submenu.member.menu-displayed li {
	width: 100%;
}

.hero-image.small h2 {
	font-size: 3.625rem;
}

}

@media screen and (min-width: 827px) {

.aside-container {
	padding-right: 0;
	background-color: white;
	min-width: 268px;
	width: 30%;
	margin-left: 1rem;
}

.aside-container h4 {
	margin-top: 0;
}

.aside-container figure a {
	padding: 0 0 0 1rem;
}

.flex-wrapper {
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.content {
	max-width: 40em;
}

}

@media screen and (min-width: 908px) {

.flex-wrapper {
	padding: 0 5%;
}

.logo.banner {
	font-size: 3.0625rem;
	padding: 0.32653061224489795918367346938776em 0.57142857142857142857142857142857em;
}

.hero-content {
	z-index: 9;
}

.banner-tagline-container {
	background-color: rgba(0, 0, 0, 0.7);
}

.tagline {
	font-size: 2.375em;
	padding-left: 0.73684210526315789473684210526316em;
}

.tagline.strapline {
	padding-left: 1.8666666666666666666666666666667em;
}

.banner-buttons-container {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 0 3%;
}

.button {
	margin: 0 0 2em 1.5555555555555555555555555555556em;
}

.button.member {
	margin-bottom: 2em;
}

.hero-image {
	margin-bottom: -334px;
	height: 700px;
	background-image: url("/assets/img/home/image12.jpg");
}

.hero-image.small {
	height: 376px;
	margin-bottom: 0;
}

.hero-image.small h2 {
	padding: 0.58620689655172413793103448275862em 5%;
}

.latestnews-inner,
.fixtures-inner {
	padding: 0 5%;
}

.titlestrip {
	padding: 0 5%;
	margin-bottom: 1.875rem;
}

.titlestrip.breadcrumb {
	padding: 2rem 5%;
}

footer {
	padding: 0 5% 5% 5%;
}

}

@media screen and (min-width: 986px) {

.aside-container figure {
	max-width: 100%;
}

}

@media screen and (min-width: 1058px) {

.item {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 22.511485451761102603369065849923%;
}

.item img {
	-ms-flex-order: 1;
	order: 1;
	height: auto;
}

.item h4 {
	-ms-flex-order: 2;
	order: 2;
	overflow: visible;
	white-space: normal;
}

.item p {
	-ms-flex-order: 3;
	order: 3;
}

.item:nth-child(2n) {
	margin-left: 3.2857142857142857142857142857143%;
}

.item:nth-child(4n+1) {
	margin-left: 0;
}

.item:hover {
	transform: scale(1.1);
}

.item + * {
	margin-left: 3.2857142857142857142857142857143%;
}

.contentblock.latestnews {
	-ms-flex-direction: row;
	flex-direction: row;
}

}

@media screen and (min-width: 1190px) {

.content {
	font-size: 1.125rem;
}

}

@media screen and (min-width: 1250px) {

.aside-container {
	box-shadow: 0 -10px white, 10px 0 white, -6px 0 20px -8px rgba(0, 0, 0, 0.4);
	font-size: 1rem;
}

}

